<a href="https://colab.research.google.com/github/UmaMahesh630/Python/blob/main/Day_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1 = [1,2,3,4,5]
list2 = [2,4,6]

result = [ele for ele in list1 if ele not in list2]
print(result)

[1, 3, 5]

In [2]:
list1 = [1,2,3]
list2 = [2,3,4,5,6,1]

count =0

for num in list2:
  if num not in list1:
    list1.append(num)
    count+=1

print(count)
print(list1)

3
[1, 2, 3, 4, 5, 6]

In [3]:
# number of occurneces of each element

l1 = [1,1,1,2,2,3,3,3,3,3,3,4,4,5,6]
value = []
count = []

for i in l1:
  if i not in value:
    value.append(i)
    count.append(i)
  else:
    index = value.index(i)
    count[index]+=1

print(value)
print(count)

[1, 2, 3, 4, 5, 6]
[3, 3, 8, 5, 5, 6]

In [7]:
#Tuples

t1 = (1,2,3,4,5.6,[1,2,3,4],(1,2,3),'NTT')
print(t1)
print(type(t1))

(1, 2, 3, 4, 5.6, [1, 2, 3, 4], (1, 2, 3), 'NTT')
<class 'tuple'>

In [8]:
#tuple methods
s = "Ntt data"
t2 = tuple(s)
print(t2)

('N', 't', 't', ' ', 'd', 'a', 't', 'a')

In [11]:
l1 = [10,20,30]
t3 = tuple(l1)
print(t3)

l5 = list(t3)
print(l5)

(10, 20, 30)

TypeError: 'list' object is not callable

In [13]:
# tuple with single element

t5 = (6)
print(t5)
print(type(t5))

6
<class 'int'>

In [14]:
# tuple with single element

t5 = (6,)
print(t5)
print(type(t5))

(6,)
<class 'tuple'>

In [15]:
#iterating tuples
t1=(10,20,30)

for i in t1:
  print(i)

10
20
30

In [22]:
#tuple slicing
t1 = (1,2,3,[1,2,3],"ntt")
myslice = t1[1:5]
print(myslice)

(2, 3, [1, 2, 3], 'ntt')

In [26]:
#Dictionary
d1 = {"name":"Ankita", "age":26, "city":"Pune"}
print(d1)
print(type(d1))
print(d1.keys())
print(d1.values())
print(d1.items())

{'name': 'Ankita', 'age': 26, 'city': 'Pune'}
<class 'dict'>
dict_keys(['name', 'age', 'city'])
dict_values(['Ankita', 26, 'Pune'])
dict_items([('name', 'Ankita'), ('age', 26), ('city', 'Pune')])