<a href="https://colab.research.google.com/github/UmaMahesh630/Python/blob/main/Day_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
l1 = [10,20,34]
print(l1)

l2 = l1
print(id(l1))
print(id(l2))

l2[1] = 200

print(l1)
print(l2)

[10, 20, 34]
138775472754240
138775472754240
[10, 200, 34]
[10, 200, 34]

In [7]:
#Shallow copy, first layer will be different memenory location rest of them point to same memory location
import copy
l1 = [[1,2,3],[4,5,6],[7,8,9]]

l2 = copy.copy(l1)

print ("id of l1:",id(l1))
print("id of the first element", id(l1[0]))
print("id of the first element", id(l1[1]))
print("id of the first element", id(l1[2]))

l2 = copy.copy(l1)
print ("id of l1:",id(l2))
print("id of the first element", id(l2[0]))
print("id of the first element", id(l2[1]))
print("id of the first element", id(l2[2]))

l1[2][2] = 'hello'
print(l1)
print(l2)

id of l1: 138775473138240
id of the first element 138775473137792
id of the first element 138775473134976
id of the first element 138775473130496
id of l1: 138775473131456
id of the first element 138775473137792
id of the first element 138775473134976
id of the first element 138775473130496
[[1, 2, 3], [4, 5, 6], [7, 8, 'hello']]
[[1, 2, 3], [4, 5, 6], [7, 8, 'hello']]

In [11]:
#deep copy having different memory location
import copy
l1 = [[1,2,3],[4,5,6],[7,8,9]]

l2 = copy.deepcopy(l1)

print ("id of l1:",id(l1))
print("id of the first element", id(l1[0]))
print("id of the first element", id(l1[1]))
print("id of the first element", id(l1[2]))

l2 = copy.deepcopy(l1)
print ("id of l1:",id(l2))
print("id of the first element", id(l2[0]))
print("id of the first element", id(l2[1]))
print("id of the first element", id(l2[2]))

l1[2][2] = 'hello'
print(l1)
print(l2)

id of l1: 138775472989120
id of the first element 138775472943744
id of the first element 138775472932800
id of the first element 138776034861248
id of l1: 138775472942592
id of the first element 138775472934720
id of the first element 138775473035840
id of the first element 138775472946048
[[1, 2, 3], [4, 5, 6], [7, 8, 'hello']]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
#Set unorder collection of items of different types of enclosed in curly braces

s = {101,'Ankita','pass',95.3}
print(s)
print(type(s))


s2 = {10,10,30,(1,2,3), "NTT"}
print(s2)

s3 = set("NTT data")
print(s3)

{'pass', 'Ankita', 101, 95.3}
<class 'set'>
{10, (1, 2, 3), 30, 'NTT'}
{'a', 't', ' ', 'N', 'T', 'd'}

In [21]:
s5 = {}

print(s5)
print(type(s5))

#if you want to create empty set use set method
s6 = set()
print(s6)
print(type(s6))

{}
<class 'dict'>
set()
<class 'set'>

In [23]:
# set methods

s1 = {10,200,'Ntt',34.5}
s1.add('kk')
print(s1)

s1.update([10,20,'blr'])
print(s1)

{34.5, 200, 10, 'Ntt', 'kk'}
{34.5, 200, 10, 'blr', 'Ntt', 20, 'kk'}

In [27]:
#frozen set

s = {1,2,3,4,5}
fs = frozenset(s)
print(fs)
print(type(fs))

fs.add(1)

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

AttributeError: 'frozenset' object has no attribute 'add'